@font-face {
  font-family: "Game";
  src: url(/fonts/VT323-Regular.ttf);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Game";
  font-size: 22px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul,
li {
  all: unset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/**********************************/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto #646cff;
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*******************/

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
}

#battle-ui {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

#battle-ui.action-ready > ul:not(#bottom-pane) {
  cursor: url(/public/icons/sword32.webp), auto;
  user-select: none;
}

#aside {
  width: 132px;
  border: 1px dashed darkblue;
}

.battle-lane {
  /* border: 1px solid blue; */
  display: flex;
}

.lane-slot {
  /* border: 1px dashed white; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 140px;
  min-width: 120px;
}

.lane-slot.selected {
  background: darkgoldenrod;
}

.lane-slot > .top-section {
  /* border: 1px solid; */
  width: 100%;
  height: 24px;
}

.lane-slot > .avatar {
  width: 96px;
  height: 96px;
}

.lane-slot.dead {
  opacity: 0.6;
  background-color: rgba(189, 0, 40);
}

.lane-slot.dead > .avatar {
  filter: blur(4px);
}

/* .lane-slot[id]:hover > .avatar > img {
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.6));
} */

.lane-slot.dead[id]:hover > .avatar > img {
  filter: none;
}

.efx-overlay,
.defense-overlay,
.status-overlay {
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
}

/******************/

#middle-pane {
  padding-top: 3.6rem;
  /* border: 1px solid green; */
}

#bottom-pane {
  width: 358px; /* battle-ui max-width */
  height: 200px;
  border: 1px solid green;
  position: relative;
  padding-top: 2rem;
}

#bottom-pane > #list-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

#bottom-pane #dismiss-btn {
  position: absolute;
  top: -16px;
  right: 0;
  padding-block: 0.5rem;
}

.list-option > button {
  padding-block: 0.5rem;
  width: 100%;
  /* cursor: pointer; */
}

/* .list-option:hover {
  color: #646cff;
  border-bottom: 1px solid #646cff;
  border-right: 1px solid #646cff;
} */
/*****************/

#timeline {
  text-align: left;
}

/* #timeline > .character-name {
} */

#timeline > .turn-item > .time-to-next-turn {
  font-weight: bold;
  color: goldenrod;
}

/************/

.hidden {
  display: none;
}

.defense-overlay.defending {
  opacity: 0.3;
}

/******************/

.poisoned {
  .avatar-img {
    filter: drop-shadow(0 0 0.75rem rgba(25, 216, 38, 0.6));
  }
}

/* .poison {
  .avatar-img {
    filter: blur(4px) drop-shadow(0 0 1.5rem rgba(25, 216, 38, 0.6));
  }
} */

.poison-status {
  .status-overlay {
    animation: bad-status 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.regen-status {
  .status-overlay {
    animation: good-status 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.magic-perform {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.magic-receive {
  .efx-overlay {
    animation: magic 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.ranged-attack-perform,
.melee-attack-perform {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.melee-attack-receive {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .efx-overlay {
    animation: slash-tb 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transition: clip-path opacity;
  }
}

.ranged-attack-receive {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .efx-overlay {
    animation: pierce 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transition: clip-path opacity;
  }
}

.defense-perform {
  .defense-overlay {
    animation: shield 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transition: clip-path opacity;
  }
}

.item-send {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.item-receive {
  .efx-overlay {
    animation: cross 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.7 both;
    transition: clip-path opacity;
  }
}
