:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul,
li {
  all: unset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/**********************************/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*******************/

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
}

#battle-ui {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.battle-lane {
  /* border: 1px solid blue; */
  display: flex;
}

.lane-slot {
  /* border: 1px dashed white; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 140px;
  min-width: 120px;
}

.lane-slot.selected {
  background: darkgoldenrod;
}

.lane-slot[id]:hover > .avatar > img {
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.6));
}

.lane-slot > .top-section {
  /* border: 1px solid; */
  width: 100%;
  height: 24px;
}

.lane-slot > .avatar {
  width: 96px;
  height: 96px;
}

.img-efx-overlay {
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0;
}

/******************/

#middle-lane {
  height: 40px;
  /* border: 1px solid green; */
}

#bottom-lane {
  height: 240px;
  border: 1px solid green;
}

#bottom-lane > #list-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#bottom-lane > #list-content > li:hover {
  border: 1px solid #646cff;
}

/*****************/

#turn-sequence {
  text-align: left;
}

/* #turn-sequence > .character-name {
} */

#turn-sequence > .turn-item > .time-to-next-turn {
  font-weight: bold;
  color: goldenrod;
}

/************/

.hidden {
  display: none;
}

/******************/

.ranged-attack-perform,
.melee-attack-perform {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  /* transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; */
}

.ranged-attack-receive,
.melee-attack-receive {
  .avatar-img {
    animation: shake-lr 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .img-efx-overlay {
    animation: slash-tb 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transition: clip-path opacity;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-23 17:50:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-lr
 * ----------------------------------------
 */
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    /*  */
    -webkit-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1);
  }

  30%,
  70% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  90% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}

@keyframes slash-tb {
  0% {
    opacity: 0.8;
    -webkit-clip-path: polygon(11% 1%, 21% 6%, 19% 18%, 6% 20%, 1% 11%);
    clip-path: polygon(11% 1%, 21% 6%, 19% 18%, 6% 20%, 1% 11%);
  }
  90% {
    opacity: 1;
    -webkit-clip-path: polygon(5% 0, 80% 66%, 94% 100%, 63% 79%);
    clip-path: polygon(5% 0, 80% 66%, 94% 100%, 63% 79%);
  }
  100% {
    opacity: 0;
    -webkit-clip-path: polygon(83% 76%, 98% 81%, 100% 100%, 81% 98%, 76% 85%);
    clip-path: polygon(83% 76%, 98% 81%, 100% 100%, 81% 98%, 76% 85%);
  }
}

@keyframes claws {
  50% {
    clip-path: polygon(
      58% 1%,
      86% 48%,
      94% 100%,
      72% 48%,
      61% 48%,
      71% 100%,
      45% 49%,
      32% 48%,
      45% 100%,
      19% 49%,
      9% 0%,
      32% 48%,
      44% 49%,
      34% 0%,
      59% 48%,
      72% 48%
    );
  }
}
